{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    // 미리 설정된 규칙 세트을 사용한다
    "plugin:prettier/recommended",
    // prettier 단순 설정
    "plugin:@typescript-eslint/recommended"
  ]
}
